/* CSS variables for easier use */
:root {
    --brand: #428197;
    --brand2: #306578;
    --p_b: #dfddcb;
    --text: #3f3f3f;
    --text2: #5d5c5c;
    --text3: #a3a1a1;
    --shadow: 0 4px 12px rgba(0,0,0,0.05); 
}

/* basic body setup*/
body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--p_b);
    color: var(--text);
    line-height: 1.5;
}


/* header setup*/
header {
    background-color: linear-gradient(45deg, var(--brand), var(--brand2));
    color : var(--text3);
}

/*header h1 setup*/
header h1{
    margin: 0;
    font-size: 1.5rem;
}

/* navigartion setup*/
nav a{
    color: var(--text3);
    margin-left: 1rem;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}

/* main setup*/
main {
    padding: 2rem 0;
}

section {
    background-color: whitesmoke;
    padding: 1rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
}

h2 {
    margin-top: 0;
}

/*tables setup*/

table{
    width: 100%;
}

th, td{
    padding: 75rem;
    border: 1px solid var(--brand);
    text-align: center;
}

