/* CSS variables for easier use */
:root {
    --brand: #428197;
    --brand2: #306578;
    --p_b: #dfddcb;
    --text: #3f3f3f;
    --text2: #5d5c5c;
    --text3: #a3a1a1;
    --shadow: 0 4px 12px rgba(0,0,0,0.05); 
}

/* basic body setup*/
body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--p_b);
    color: var(--text);
    line-height: 1.5;
}


/* head setup*/
header {
    background-color: linear-gradient(45deg, var(--brand), var(--brand2));
    color : var(--text3);
}

